coremods/
crash-reports/
customnpcs/
downloads/
data/
journeymap/
local/kubejs/
logs/
moddata/
player_models/
saves/
schematics/
screenshots/
server-resource-packs/
texturepacks/
waypoints/
config/jei/
config/fabric/
config/iris.properties
mods/.index
command_history.txt
icon.png
TrashSlotSaveState.json
usercache.json
usernamecache.json
options.txt
