mods/client_*
coremods/
crash-reports/
customnpcs/
downloads/
data/
journeymap/
local/kubejs/
logs/
moddata/
player_models/
saves/
schematics/
screenshots/
server-resource-packs/
texturepacks/
waypoints/
config/jei/
config/fabric/
config/iris.properties
mods/.index
command_history.txt
icon.png
TrashSlotSaveState.json
usercache.json
usernamecache.json
options.txt
!*/options.txt
config/craftingstation-server.toml
config/craftingstation-client.toml
config/emi_loot_config.toml
emi.json
config/emi_ores-client.json
config/exmi/
config/emixx/
config/emi.css
config/iris.properties
/config/Advancedperipherals
/config/betterfortresses
/config/CoroUtil
/config/cristellib
config/easymagic-client.toml
config/embeddium-fingerprint.json
config/embeddium-mixins.properties
config/etf_warnings.json
config/escalated-server.toml
config/embeddium-options.json
config/enchdesc.json
config/entity_model_features.json
config/entity_texture_features.json
config/ends_delight-common.toml
config/fasterladderclimbing-client.toml
config/farmersdelight-client.toml
config/farmersdelight-common.toml
config/fastsuite.cfg
config/ferritecore-mixin.toml
config/flywheel-client.toml
config/framedblocks-client.toml
config/framedblocks-server.toml
config/fzzy_config/keybinds.toml
config/geneticsresequenced-client.toml
config/fml.toml
config/guideme.toml
config/immediatelyfast.json
config/iris-excluded.json
config/kiwi-common.yaml
config/kiwi-client.yaml
config/lanternlib-client.toml
config/lighty/base.config
config/lmft.json
config/lanternlib-common.toml
config/logprot.json
config/legendarytooltips.toml
config/measurements-client.toml
config/megacells-common.toml
config/mffs-client.toml
config/mixed_litter-startup.toml
config/modernfix-common.toml
config/modernfix-mixins.properties
config/monocle.properties
config/more_chest_variants.json5
config/morered-client.toml
config/morered-server.toml
config/MouseTweaks.cfg
config/mutantszombies-server.toml
config/necronomicon.json5
/config/nerb
/config/NoChatReports
config/notenoughanimations.json
config/notenoughcrashes.json
config/notes-client.toml
config/nyfsspiders.toml
config/ok_zoomer/config.toml
config/paraglider-common.toml
config/paraglider-player-states.toml
config/paraglider-server.toml
config/parcool-client.toml
config/particlerain.json
config/passablefoliage-common.yaml
config/paths_config.toml
config/petrolpark-client.toml
config/petrolpark-common.toml
config/petrolpark-server.toml
config/petrolsparts-server.toml
config/placebo.cfg
config/pointblank-common.toml
config/pointblank_passthrough_interaction-common.toml
config/ponder-client.toml
config/resourceful-config-web.json
config/smart_particles/config.json
config/seasonhud-server.toml
config/sodium-extra-options.json
config/sodium-extra.properties
config/sodiumdynamiclights-client.toml
config/extendedae-common.toml
/config/sound_physics_remastered
config/stellarview-client.toml
/config/subtle_effects
config/seasonhud-client.toml
config/transition.json
config/trashcans-common.toml
config/trashslot-common.toml
config/treechop-client.toml
config/treechop-common.toml
config/trender.json
/config/visuality
config/wakes-client.toml
config/watut-client.toml
config/watut-common.toml
config/watut-item-arm-adjustments.json
config/watut-server.toml
config/whitenoise-client.toml
config/yacl.json5
config/jade/jade.json
config/jade/plugins.json
config/jade/sort-order.json
/config/vanilla_structures
config/easymagic-server.toml
config/easymagic-common.toml
/dynamic-resource-pack-cache
servers.dat
config/advanced_ae-common.toml
config/advanced_ae-client.toml
config/ae2-client.toml
config/ae2-common.toml
config/ae2ct-client.toml
config/ae2wtlib.toml
config/aeinfinitybooster-common.toml
config/alltheleaks.json
config/appex-common.toml
config/appflux-common.toml
config/azurelib.json
config/badoptimizations.txt
config/betterarcheology.jsonc
config/betterdungeons-neoforge-1_21.toml
config/betterendisland-neoforge-1_21.toml
config/betterfortresses-neoforge-1_21.toml
config/bettermineshafts-neoforge-1_21.toml
config/betteroceanmonuments-neoforge-1_21.toml
config/betterpingdisplay-client.toml
config/catalogue.properties
config/catalogue_favourites.txt
config/cfm_wap.server.toml
config/clickadv.json
config/collective.json5
config/connector.json
config/connectorextras_energy_bridge-common.toml
config/copycats-client.toml
config/copycats-server.toml
config/cosmeticarmorreworked-client.toml
config/cosmeticarmorreworked-common.toml
config/cpm.json
config/create-common.toml
config/create-client.toml
config/copycats-common.toml
config/create_connected-common.toml
config/create_dragons_plus-client.toml
config/create_dragons_plus-common.toml
config/createaddition-common.toml
config/createcybernetics-common.toml
config/createenchantablemachinery-client.toml
config/createenchantablemachinery-common.toml
config/createfood-client.toml
config/creativecore-client.json
config/creativecore.json
config/crittersandcompanions-common.toml
config/cupboard.json
config/curios-client.toml
config/curios-common.toml
config/curios-server.toml
config/displaydelight-common.toml
config/framedblocks-client-1.toml.bak
/config/konkrete
config/Koopa's Critters Configurations.toml
config/immersive_melodies.json
config/jeed-client.toml
config/lanternlib-logfilter.json5
config/moonlight-client.toml
*.bak
config/supplementaries-common.toml
config/supplementaries-client.toml
dynamic-data-pack-cache/hash.txt

config/packetfixer.properties
config/reliable_replacer/example_rules.json.disabled
config/appleskin-client.toml
config/ambientsounds-client.json
config/beautifiedchatclient.json5
config/betteradvancements-client.toml
config/betterclouds-v1.json
config/dynamic_fps.json
/config/inventoryprofilesnext
config/saturn-optimizations.toml
/fancymenu_data/buddy
config/drippyloadingscreen/early_window_reference.properties
fancymenu_data/last_world.fmdata
config/kaleidoscope_cookery-common.toml
config/kaleidoscope_end-common.toml
config/kaleidoscope_nether-common.toml
config/thirst/item_settings.toml
config/createbigcannons-server.toml
config/createbigcannons-client.toml
config/ritchiesprojectilelib-server.toml
config/hackersandslashers/client.json5
config/livelyinteractions-client.toml
/mods/.connector
/mods/*.disabled
config/custom_chest_name-client.toml
.pg-native/libpowergridNative5.dll
/config/voicechat
/config/createcybernetics/*_iris_*
/config/createcybernetics/*_layout_*
config/slimpatch-common.toml
config/proximitychat-server.toml
config/continuity.json
config/exposure*
config/obscuria/accents-common.toml
config/powergrid*
config/atmospherica.json
config/betterdays-client.toml
config/betterfpsdist.json
config/comforts-common.toml
config/computercraft-client.toml
config/corpse-server.toml
config/create_connected-server.toml
config/create_dragons_plus-server.toml
config/deathquotes-common.toml
config/forgivingvoid-common.toml
config/industrialupgrade-common.toml
config/jei-server.toml
config/journeymap-server.toml
config/moonlight-common.toml
config/neoforge*
config/refurbished_furniture*
config/solcarrot-client.toml
config/shrapnelexplosionsmod-common.toml
/.pg-native
config/ae2wtlib-client.toml
config/better-advanced-tooltips-client.toml
config/bakeries-common.toml
config/chatnotify.json
config/configured-client.properties
config/createdieselgenerators-client.toml
config/createdieselgenerators-common.toml
config/createpropulsion-client.toml
config/createpropulsion-common.toml
config/emberstextapi-client.toml
config/emberstextapi-common.toml
config/kaleidoscope_cookery-client.toml
config/libtooltips-client.toml
config/particlerain/config.json
config/petrolsparts-common.toml
config/sable-client.toml
.sable/natives/sable_rapier_x86_64_windows.dll
config/aeronautics-server.toml
config/create_dragons_plus-simulated-extension-server.toml
config/create-server.toml
config/createdieselgenerators-server.toml
config/deployer-server.toml
config/ftb*
config/kaleidoscope_compat-common.toml
config/offroad-server.toml
config/selling_bin*
config/simulated*
config/sodium*
config/starcatcher*
ponders_watched.json
config/villagersreborn.toml
config/tinymultiblocklib-client.toml
config/sable-common.toml
.mixin.out/
config/waterfall-common.toml
config/villagersreborn-server.toml
config/kaleidoscope_compat.jsonc
config/lithostitched.json
config/emberstextapi-server.toml
config/sophisticatedcore-client.toml
config/sophisticatedbackpacks-common.toml
config/aeroworks-common.toml
config/aeronautics_utility_objects-server.toml
config/aeroworks-client.toml
config/createdeliveryrequired-client.toml
config/createthrusters-client.toml
config/tracks-server.toml
config/createthrusters-server.toml
config/createthrusterslib-server.toml
/.vs
config/sable_kardanwelle*
config/blockreplacer.json5
/config/spark
/config/audiolayer/cache
servers.dat_old
cherishedworlds-favorites.dat
